
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-image:url('/images/ae.jpg');" >   
</body>

<div class="body2">
    
</div>


<body>
    <div class="text-center" >
    <hr/>
    <h1 class="display4">Bienvenue a l'hopital de l'Immaculee</h1>
    <hr/>
    
    <h2 class="display2">Votre sante est notre priorite</h2>
    <hr/>

</div>
    
</body>

